SPI1_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_EF1a-SPI1_d005/modisco_counts_samplepeaks/HEK293T_EF1a-SPI1_d005_modisco.h5
SPI1_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_EF1a-SPI1_d025/modisco_counts_samplepeaks/HEK293T_EF1a-SPI1_d025_modisco.h5
SPI1_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_EF1a-SPI1_d050/modisco_counts_samplepeaks/HEK293T_EF1a-SPI1_d050_modisco.h5
SPI1_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_EF1a-SPI1_d075/modisco_counts_samplepeaks/HEK293T_EF1a-SPI1_d075_modisco.h5
SPI1_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_EF1a-SPI1_d100/modisco_counts_samplepeaks/HEK293T_EF1a-SPI1_d100_modisco.h5
KLF1_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_EF1a-KLF1_d005/modisco_counts_samplepeaks/HEK293T_EF1a-KLF1_d005_modisco.h5
KLF1_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_EF1a-KLF1_d025/modisco_counts_samplepeaks/HEK293T_EF1a-KLF1_d025_modisco.h5
KLF1_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_EF1a-KLF1_d050/modisco_counts_samplepeaks/HEK293T_EF1a-KLF1_d050_modisco.h5
KLF1_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_EF1a-KLF1_d075/modisco_counts_samplepeaks/HEK293T_EF1a-KLF1_d075_modisco.h5
KLF1_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_EF1a-KLF1_d100/modisco_counts_samplepeaks/HEK293T_EF1a-KLF1_d100_modisco.h5
ELF1_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_ELF1_d005/modisco_counts_samplepeaks/HEK293T_ELF1_d005_modisco.h5
ELF1_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_ELF1_d025/modisco_counts_samplepeaks/HEK293T_ELF1_d025_modisco.h5
ELF1_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_ELF1_d050/modisco_counts_samplepeaks/HEK293T_ELF1_d050_modisco.h5
ELF1_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_ELF1_d075/modisco_counts_samplepeaks/HEK293T_ELF1_d075_modisco.h5
ELF1_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_ELF1_d100/modisco_counts_samplepeaks/HEK293T_ELF1_d100_modisco.h5
LEF1_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_LEF1_d005/modisco_counts_samplepeaks/HEK293T_LEF1_d005_modisco.h5
LEF1_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_LEF1_d025/modisco_counts_samplepeaks/HEK293T_LEF1_d025_modisco.h5
LEF1_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_LEF1_d050/modisco_counts_samplepeaks/HEK293T_LEF1_d050_modisco.h5
LEF1_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_LEF1_d075/modisco_counts_samplepeaks/HEK293T_LEF1_d075_modisco.h5
LEF1_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_LEF1_d100/modisco_counts_samplepeaks/HEK293T_LEF1_d100_modisco.h5
KLF4_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_KLF4_d005/modisco_counts_samplepeaks/HEK293T_KLF4_d005_modisco.h5
KLF4_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_KLF4_d025/modisco_counts_samplepeaks/HEK293T_KLF4_d025_modisco.h5
KLF4_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_KLF4_d050/modisco_counts_samplepeaks/HEK293T_KLF4_d050_modisco.h5
KLF4_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_KLF4_d075/modisco_counts_samplepeaks/HEK293T_KLF4_d075_modisco.h5
KLF4_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_KLF4_d100/modisco_counts_samplepeaks/HEK293T_KLF4_d100_modisco.h5
IRF4_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_IRF4_d005/modisco_counts_samplepeaks/HEK293T_IRF4_d005_modisco.h5
IRF4_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_IRF4_d025/modisco_counts_samplepeaks/HEK293T_IRF4_d025_modisco.h5
IRF4_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_IRF4_d050/modisco_counts_samplepeaks/HEK293T_IRF4_d050_modisco.h5
IRF4_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_IRF4_d075/modisco_counts_samplepeaks/HEK293T_IRF4_d075_modisco.h5
IRF4_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_IRF4_d100/modisco_counts_samplepeaks/HEK293T_IRF4_d100_modisco.h5
TCF3_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_TCF3_d005/modisco_counts_samplepeaks/HEK293T_TCF3_d005_modisco.h5
TCF3_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_TCF3_d025/modisco_counts_samplepeaks/HEK293T_TCF3_d025_modisco.h5
TCF3_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_TCF3_d050/modisco_counts_samplepeaks/HEK293T_TCF3_d050_modisco.h5
TCF3_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_TCF3_d075/modisco_counts_samplepeaks/HEK293T_TCF3_d075_modisco.h5
TCF3_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_TCF3_d100/modisco_counts_samplepeaks/HEK293T_TCF3_d100_modisco.h5
ALX4_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_ALX4_d005/modisco_counts_samplepeaks/HEK293T_ALX4_d005_modisco.h5
ALX4_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_ALX4_d025/modisco_counts_samplepeaks/HEK293T_ALX4_d025_modisco.h5
ALX4_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_ALX4_d050/modisco_counts_samplepeaks/HEK293T_ALX4_d050_modisco.h5
ALX4_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_ALX4_d075/modisco_counts_samplepeaks/HEK293T_ALX4_d075_modisco.h5
ALX4_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_ALX4_d100/modisco_counts_samplepeaks/HEK293T_ALX4_d100_modisco.h5
SP4_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_SP4_d005/modisco_counts_samplepeaks/HEK293T_SP4_d005_modisco.h5
SP4_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_SP4_d025/modisco_counts_samplepeaks/HEK293T_SP4_d025_modisco.h5
SP4_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_SP4_d050/modisco_counts_samplepeaks/HEK293T_SP4_d050_modisco.h5
SP4_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_SP4_d075/modisco_counts_samplepeaks/HEK293T_SP4_d075_modisco.h5
SP4_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_SP4_d100/modisco_counts_samplepeaks/HEK293T_SP4_d100_modisco.h5
PRDM1_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_PRDM1_d005/modisco_counts_samplepeaks/HEK293T_PRDM1_d005_modisco.h5
PRDM1_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_PRDM1_d025/modisco_counts_samplepeaks/HEK293T_PRDM1_d025_modisco.h5
PRDM1_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_PRDM1_d050/modisco_counts_samplepeaks/HEK293T_PRDM1_d050_modisco.h5
PRDM1_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_PRDM1_d075/modisco_counts_samplepeaks/HEK293T_PRDM1_d075_modisco.h5
PRDM1_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_PRDM1_d100/modisco_counts_samplepeaks/HEK293T_PRDM1_d100_modisco.h5
NR4A1_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_NR4A1_d005/modisco_counts_samplepeaks/HEK293T_NR4A1_d005_modisco.h5
NR4A1_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_NR4A1_d025/modisco_counts_samplepeaks/HEK293T_NR4A1_d025_modisco.h5
NR4A1_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_NR4A1_d050/modisco_counts_samplepeaks/HEK293T_NR4A1_d050_modisco.h5
NR4A1_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_NR4A1_d075/modisco_counts_samplepeaks/HEK293T_NR4A1_d075_modisco.h5
NR4A1_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_NR4A1_d100/modisco_counts_samplepeaks/HEK293T_NR4A1_d100_modisco.h5
OCT4_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_OCT4_d005/modisco_counts_samplepeaks/HEK293T_OCT4_d005_modisco.h5
OCT4_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_OCT4_d025/modisco_counts_samplepeaks/HEK293T_OCT4_d025_modisco.h5
OCT4_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_OCT4_d050/modisco_counts_samplepeaks/HEK293T_OCT4_d050_modisco.h5
OCT4_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_OCT4_d075/modisco_counts_samplepeaks/HEK293T_OCT4_d075_modisco.h5
OCT4_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_OCT4_d100/modisco_counts_samplepeaks/HEK293T_OCT4_d100_modisco.h5
SOX2_d005	../../output/04-chrombpnet/output/models/fold_0/HEK293T_SOX2_d005/modisco_counts_samplepeaks/HEK293T_SOX2_d005_modisco.h5
SOX2_d025	../../output/04-chrombpnet/output/models/fold_0/HEK293T_SOX2_d025/modisco_counts_samplepeaks/HEK293T_SOX2_d025_modisco.h5
SOX2_d050	../../output/04-chrombpnet/output/models/fold_0/HEK293T_SOX2_d050/modisco_counts_samplepeaks/HEK293T_SOX2_d050_modisco.h5
SOX2_d075	../../output/04-chrombpnet/output/models/fold_0/HEK293T_SOX2_d075/modisco_counts_samplepeaks/HEK293T_SOX2_d075_modisco.h5
SOX2_d100	../../output/04-chrombpnet/output/models/fold_0/HEK293T_SOX2_d100/modisco_counts_samplepeaks/HEK293T_SOX2_d100_modisco.h5